* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* .main-head {
    border-bottom: 0.1rem solid black;
} */

nav {
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
    background: rgb(243, 239, 239);
    position: fixed;
    top: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
}

#logo {
    flex: 1 1 40rem;
    font-family: 'Pattaya', sans-serif;
    color: rgb(27, 72, 72);
    font-weight: 500;
    font-size: 2rem;
}

.hero {
    margin-top: 10rem;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-text {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.hero-text a {
    background: darkcyan;
    text-decoration: none;
    color: aliceblue;
    padding: 1rem 4rem;
    font-weight: 900;
    margin-top: 1rem;
}

.hero-img {
    flex: 1 1 20rem;
}

.hero-img img {
    width: 100%;
}


@media screen and (max-width: 936px) {
    nav {
        text-align: center;
    }
}