{% extends 'hood/base.html' %}
{% load static %}

{% block content %}
<section style="margin-top: 10rem;" class="details-container">
    <a style="background: green; color: aliceblue; padding: 1rem 3rem; margin: 2rem; text-decoration: none; font-weight: 800;" href="{% url 'add-post' %}">
        Add Post
    </a>
<div class="hood-img">
<img src="{{ hood.photo.url }}" alt="">
</div>
<div class="details">
    <div class="">
        <h3>{{ hood.name }}</h3>
        <h3>In {{ hood.location }}</h3>
    </div>
    <div class="">
        <h4>{{ hood.description }}</h4>
    </div>
</div>
</section>
{% endblock %}