{% extends 'hood/base.html' %}
{% load static %}

{% block content %}
<div class="hood-container">
    <a style="background: green; color: aliceblue; padding: 1rem 3rem; margin: 2rem; text-decoration: none; font-weight: 800;" href="{% url 'add' %}">
        Add Hood
    </a>
    <section class="hood-cards">
        {% for hood in hoods %}
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%; min-height: 20rem; max-height: 20rem;" src="{{hood.photo.url}}" alt="">
            </div>
            <div card-text>
                <h4>{{ hood.name }}</h4>
                <p>{{ hood.location }}</p>
                <p>{{ hood.occupants }} occupants</p>
                <a href="{% url 'hood' hood.id %}">Details</a>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div> -->
    </section>
</div>
{% endblock %}