{% extends 'hood/base.html' %}
{% load static %}

{% block content %}
<div class="hood-container">
    <section class="hood-cards">
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img style="width: 100%;" src="{% static 'img/coq.jpg' %}"" alt="">
            </div>
            <h4>Travel</h4>
            <p>Travel in over 250 countries with no effort.</p>
        </div>
    </section>
</div>
{% endblock %}