{% extends 'hood/base.html' %}
{% load static %}

{% block content %}
<div style="padding-top: 10rem;">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login">
    </form>
    <p>Haven't Signed Up Yet</p>
    <a href="{% url 'register' %}">Register</a>
</div>

<div style="padding-top: 10rem;">
    <form action="" method="POST">
        {% csrf_token %}
        

        <input type="submit" value="Register">
    </form>
    <p>Already Signed Up </p>
    <a href="{% url 'login' %}">Sign In</a>
</div>
{% endblock %}